* {
  padding: 0;
  margin: 0%;
}

body {
  padding: 2% 5%;
}

.heading {
  font-size: 5em;
}

.main-container {
  display: flex;
  padding: 1% 5% 0;
  gap: 20%;
  align-items: baseline;
}

.box-header {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: baseline;
}

.dom-show {
  list-style: none;
  border: 5px solid black;
  width: 40vw;
}

.dom-show li:nth-child(2n) {
  background-color: #c2cfe0;
}

.box-title {
  font-size: 3em;
}

.refresh-btn {
  padding: 5px 40px;
  height: 30px;
}

.dom-show li {
  padding: 10px;
  font-weight: bold;
}

.dom-show {
  font-size: 20px;
}

.input-user {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-title {
  font-size: 2em;
  padding: 30px;
}

form input {
  padding: 10px;
}

.score-form {
  padding: 10px;
  width: 70px;
}
